<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="databaseId" value="MySQL"/>
        <setting name="logImpl" value="SLF4J"/>
        <setting name="defaultFetchSize" value="10000"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="safeResultHandlerEnabled" value="false"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.penglecode.codeforce.mybatistiny.examples.domain.model"/>
    </typeAliases>
    <environments default="examples">
        <environment id="examples">
            <transactionManager type="JDBC"/>
            <dataSource type="com.penglecode.codeforce.mybatistiny.examples.support.HikariCPDataSourceFactory">
                <property name="poolName" value="defaultHikariCP"/>
                <property name="minimumIdle" value="5"/>
                <property name="idleTimeout" value="180000"/>
                <property name="maximumPoolSize" value="17"/>
                <property name="autoCommit" value="true"/>
                <property name="maxLifetime" value="1800000"/>
                <property name="connectionTimeout" value="30000"/>
                <property name="connectionTestQuery" value="SELECT 1"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
                <property name="jdbcUrl" value="jdbc:mysql://127.0.0.1:3306/examples?useUnicode=true&amp;characterEncoding=utf-8&amp;allowMultiQueries=true&amp;serverTimezone=GMT%2B8&amp;useSSL=false&amp;rewriteBatchedStatements=true&amp;useCursorFetch=true"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <package name="com.penglecode.codeforce.mybatistiny.examples.dal.mapper"/>
    </mappers>
</configuration>